{% extends 'main.html' %}
{% load staticfiles %}


{% block section_main %}
    <div class="spartan-input">
        <form name="spartan" action="{% url 'ajax' %}">
            {% csrf_token %}
            <ul>
                <li>
                    <input type="text" name="phone" maxlength="24" autofocus id="id_phone" placeholder="Номер телефона" onkeypress="enter(event)"/>
                    <input type="text" name="note" maxlength="128" id="id_note" placeholder="Комментарий" onkeypress="enter(event)"/>
                    <a href='#' onclick="add_note()"><i class="icon-ok"></i></a>
                </li>
            </ul>
        </form>
    </div>

    <div style="margin-bottom: 66px; overflow: auto;">
        <ul id="spartan-table">
            <li id="li_0" style="display: none">
                <input class="input-phone" type="text" value="" title="" readonly/>
                <input class="input-note" type="text" value="" title="" readonly/>
                <a href='#' id="a_0" onclick=""><i class="icon-cancel"></i></a>
            </li>

            {% for memo in memos %}
            <li id="li_{{ memo.id }}">
                <input type="text" class="input-phone" value="{{ memo.phone }}" title="{{ memo.date }}" readonly onkeypress="enter(event)"/>
                <input type="text" class="input-note" value="{{ memo.note }}" title="{{ memo.date }}" readonly onkeypress="enter(event)"/>
                <a href='#' id="a_{{ memo.id }}" onclick="del_note({{ memo.id }})"><i class="icon-cancel"></i></a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block extra_main %}
    <div id="dialog" title="Заполните следющие поля:">
        <ul class="error"></ul>
    </div>

    <script>
        $(function(){$("#dialog").dialog({
            buttons: [{text: "Close", click: function() {$(this).dialog("close")}}],
            autoOpen: false,
            draggable: false,
            resizable: false,
            modal: true
        })});
    </script>
{% endblock %}
