{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
    <link href="{% static 'css/menu.css' %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block header %}
    <nav style="float: right;">
            <ul class="topmenu">
                <li><a href="#">Menu</a>
                    <ul class="submenu">
                        <li>
                            <a href="#">
                                <i class="icon-home"></i> Home
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-download"></i> Download
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-floppy"></i> Save
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-help"></i> Help
                            </a>
                        </li>
                    </ul>
                </li>
                <li>or</li>
                <li><a href="{% url 'logout' %}">Exit</a></li>
            </ul>
        </nav>
{% endblock %}


{% block section %}
    <div class="spartan-input">
        <form name="spartan" action="{% url 'ajax' %}">
            {% csrf_token %}
            <ul>
                <li>
                    <input type="text" name="phone" maxlength="24" autofocus id="id_phone" placeholder="Номер телефона" />
                    <input type="text" name="note" maxlength="128" id="id_note" placeholder="Комментарий" />
                    <a href='#' onclick="add_note()"><i class="icon-ok"></i></a>
                </li>
            </ul>
        </form>
    </div>

    <ul id="spartan-table">
        <li id="li_0" style="display: none">
            <input type="text" class="input-phone" readonly value="" title=""/>
            <input type="text" class="input-note" readonly value="" title=""/>
            <a href='#' id="a_0" onclick=""><i class="icon-cancel"></i></a>
        </li>

        {% for memo in memos %}
        <li id="li_{{ memo.id }}">
            <input type="text" class="input-phone" value="{{ memo.phone }}" title="{{ memo.date }}" readonly/>
            <input type="text" class="input-note" value="{{ memo.note }}" title="{{ memo.date }}" readonly/>
            <a href='#' id="a_{{ memo.id }}" onclick="del_note({{ memo.id }})"><i class="icon-cancel"></i></a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block extra %}
    <div id="dialog" title="Заполните следющие поля:">
        <ul class="error"></ul>
    </div>

    <script>
        $(function(){$('#dialog').dialog({
            buttons: [{text: "Close", click: function() {$(this).dialog("close")}}],
            autoOpen: false,
            draggable: false,
            width: 285,
            modal: true
        })});
    </script>


{% endblock %}
